#name: Build and Deploy Spring Boot Portfolio
#
#on:
#  push:
#    branches: [ main ]
#  pull_request:
#    branches: [ main ]
#
#jobs:
#  build:
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Checkout code
#        uses: actions/checkout@v3
#
#      - name: Set up JDK 21
#        uses: actions/setup-java@v3
#        with:
#          java-version: '21'
#          distribution: 'temurin'
#      - name: Build with Maven
#        run: mvn clean package -DskipTests
#
#      - name: Log in to Docker Hub
#        if: github.event_name == 'push'
#        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
#
#      - name: Build Docker image
#        if: github.event_name == 'push'
#        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/portfolio .
#
#      - name: Push Docker image
#        if: github.event_name == 'push'
#        run: docker push ${{ secrets.DOCKER_USERNAME }}/portfolio
name: Build and Deploy Spring Boot Portfolio

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Run tests
        run: mvn test
      - name: Build with Maven
        run: mvn package -DskipTests


      - name: Log in to Docker Hub
        if: github.event_name == 'push'
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        if: github.event_name == 'push'
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/portfolio .

      - name: Push Docker image
        if: github.event_name == 'push'
        run: docker push ${{ secrets.DOCKER_USERNAME }}/portfolio
